.card_style {
  display: block !important;
  flex-direction: column;
}

.layout_style {
  height: auto !important;
}

.button {
  margin-top: 1rem;
}

.input {
  margin-top: 1rem;
}

.input_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
